*{
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
.wrapper{
    /* background-color: rgb(191, 142, 238); */
    width: 405px;
    height: auto;
}
.container1 .logo{
    /* background-color: burlywood; */
    width: 65px;
    height: 65px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.container1 .h3{
    font-weight: bold;
}

.container1 p{
    font-size: 15px;
}
.container1 .lady-img{
    /* background-color: chartreuse; */
    margin-top: 150px;
}

/* =========================Information Index1=============== */
.container1 .info h4{
    font-size: 25px;
    font-weight: bold;
    margin-left: 32px;
}
.container1 .info h5{
    font-weight: bold;
}
.container1 .info p{
    font-size: 14px;
}
.container1 .info .virus{
    width: 60px;
    height: 60px;
}
.container1 .info .arrow {
    /* background-color: cyan; */
    margin-top: 60px;
  }
/* ===================Modals=============== */
.modal-dialog{
    position: fixed;
    background-color: darkcyan;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: white;
    pointer-events: none;
}
.modal-content{
    /* width: 405px; */
}
.modal-header {
    background-color: rgb(236, 234, 234);
    height: 62px;
}
.modal-header img{
    /* background-color: darkturquoise; */
    width: 65px;
    height: 65px;
    margin: 0px;
}
.modal-header .close{
    /* background-color: darkkhaki; */
    width: 20px;
    padding-top: 20px;
    padding-right: 40px;
}

.modal-body h3{
    font-weight: bold;
}
 /* Media Query for Tablets Ipads portrait mode */
 @media (min-width: 768px) and (max-width: 1024px){
    .modal-dialog{
        width: 412px;
        left: 50%;
        margin-left: -210px;
        }
}
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .modal-dialog{
    width: 403px;
    left: 50%;
    margin-left: -210px;
    }
}
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .modal-dialog{
    width: 403px;
    left: 50%;
    margin-left: -210px;
    }
}
/* ================================Modal 2===================== */
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 90vh;
    padding: 2rem;
    overflow-y: scroll;
    }
/* ================================Modal 4===================== */
.q1 .sec{
    text-align: center;
}

.questions .row{
    display: none;
}
.questions .active{
    display: block;
}
.result1 ol li{
    font-size: 22px;
}
.result1 p{
    font-size: 20px;
}
.result2 ol li{
    font-size: 22px;
}
.result2 p{
    font-size: 20px;
}
.result3 ol li{
    font-size: 22px;
}
.result3 p{
    font-size: 20px;
}
